body{
    /* margin: 5%; */
    background-color: #EEEEEE;
    /* width: 100%; */
    /* height: auto; */
    /* overflow: hidden; */
    margin-top: 0%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

header{
    background-color: rgb(20, 19, 19);
    color: rgb(218, 212, 212);
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content:space-around;
    margin-top: 0%;
    position: relative;
}
.page-head{
    text-align: center;
}

.page-head a{
    text-decoration: none;
    color: rgb(218, 212, 212);
    position: absolute;
    top: 30%;
    left: 45%;
    font-size: 1.8em;
}

.head-left a{
    text-decoration: none;
    position: absolute;
    top: 30%;
    color: whitesmoke;
    font-size: 1.8em;
}


.head-right{
    /* display: inline-block; */
    white-space: nowrap;
}

.head-right ul{
    position: absolute;
    top:14%;
    right: 25%;
}

.head-right ul li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    /* white-space: nowrap; */
    padding: 2%;
    font-size: 1.6em;
}

.head-right a{
    text-decoration: none;
    color: rgb(218, 212, 212);
}

.main h1{
    text-align: center;
}

#about{
    display: flex;
    justify-content: space-between;
}

.main-left{
    display: flex;
    /* flex-direction: column;
    text-align: center; */
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}

.main-left img{
    width: 80%;
    height: auto;
}

.main-right{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer{
    background-color: rgb(204, 198, 198);
    text-align: center;
    padding:5%;
}

.contact input{
    border-radius: 4px;
}
input[type=submit]{
    border-radius: 5px;
    padding:8px 15px; 
    background:rgb(0, 0, 0);
    color: aliceblue; 
    border:0 none;
    cursor:pointer;
}

.icons{
    /* display: flex; */
    align-items: center;
    padding-top: 30px;
}

.fa{
    color: rgb(14, 13, 13);
    padding:5px;
}

.icons a :hover{
    color: rgb(15, 97, 93);
}


